// ChatMenu.jsx
.chat {
  width: 40rem;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: var(--shadow-dreamy);
  position: absolute;
  bottom: 10rem;
  right: 10rem;

  // ##### Chat navbar #####
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d7d7d7;
    padding: 1.5rem 1rem;
    border-radius: 10px 10px 0 0;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
    button {
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  // ##### Message section #####
  &__content {
    min-height: 25rem;
  }
  &__message {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    img {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
    }
    p {
      font-size: 1.25rem;
      position: relative;
      background: #bababa;
      border-radius: 0.4em;
      padding: 1rem;
    }
    p:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-right-color: #bababa;
      border-left: 0;
      border-top: 0;
      margin-top: -3px;
      margin-left: -6px;
    }
  }

  // ##### Input Form / Footer #####
  &__footer {
    background: #d7d7d7;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    input {
      padding: 0.5rem 1rem;
      width: 80%;
      border: none;
      border-radius: 10px;
      &:focus {
        outline: none;
      }
    }
    button {
      cursor: pointer;
    }
  }
}

.nav-title {
  display: flex;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
